---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const cards = [
  { src: '/assets/about/skills-icons/C.png', name: 'C' },
  { src: '/assets/about/skills-icons/csharp.png', name: 'C#' },
  { src: '/assets/about/skills-icons/java.png', name: 'Java' },
  { src: '/assets/about/skills-icons/reactjs.png', name: 'React JS' },
  { src: '/assets/about/skills-icons/firebase.png', name: 'Firebase' },
  { src: '/assets/about/skills-icons/flutter.png', name: 'Flutter' },
  { src: '/assets/about/skills-icons/azure.png', name: 'Azure' },
  { src: '/assets/about/skills-icons/python.png', name: 'Python' },
  { src: '/assets/about/skills-icons/materialui.png', name: 'Material UI' },
  { src: '/assets/about/skills-icons/bootstrap5.png', name: 'Boostrap' },
  { src: '/assets/about/skills-icons/html5.png', name: 'HTML' },
  { src: '/assets/about/skills-icons/css3.png', name: 'CSS' },
  { src: '/assets/about/skills-icons/markdown.png', name: 'Markdown' },
  { src: '/assets/about/skills-icons/astro.png', name: 'Astro' },
  { src: '/assets/about/skills-icons/figma.png', name: 'Figma' },
  { src: '/assets/about/skills-icons/github.png', name: 'GitHub' },
  { src: '/assets/about/skills-icons/js.png', name: 'JavaScript' },
  { src: '/assets/about/skills-icons/ps.png', name: 'Photoshop' },
  { src: '/assets/about/skills-icons/ai.png', name: 'Illustrator' },
  { src: '/assets/about/skills-icons/php.png', name: 'PhP' },
  { src: '/assets/about/skills-icons/postman.png', name: 'Postman' },
  

  
];

const certificationCards = [
  { src: '/assets/about/certification-icons/microsoft_logo.jpg', name: 'Fundamentals of Azure AI services', link: 'https://learn.microsoft.com/api/achievements/share/en-gb/JDVictoria-7636/X2CTBKMY?sharingId=E85995488E12FF08' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Introduction to Prompt Engineering', link: 'https://www.linkedin.com/learning/certificates/892760c0c51145d56c5f720aefe69ec3a8e8dc89a8392d53d8b82b0578434148' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'UX Foundations: Style Guides and Design Systems', link: 'https://www.linkedin.com/learning/certificates/955f804cba9938921bba81ba7b4fe0b9d442c967d315de5cb8d75db1ac554d18' },
  { src: '/assets/about/certification-icons/cisco_logo.jpg', name: 'Introduction to IoT', link: 'https://www.credly.com/badges/ecd1c587-12ab-4b05-a7de-de77201b240f/linked_in_profile' },
  { src: '/assets/about/certification-icons/cisco_logo.jpg', name: 'Introduction to CyberSecurity', link: 'https://www.credly.com/badges/0d6d4e8d-2404-4b6d-8373-97bc4d8cf468/linked_in_profile' },
  { src: '/assets/about/certification-icons/ibm_logo.jpg', name: 'Data Science - Level 1', link: 'https://www.credly.com/badges/50f47d56-b4dc-4b9f-9d99-19bddd0482cd/linked_in_profile' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Artificial Intelligence Foundations : Machine Learning', link: 'https://www.linkedin.com/learning/certificates/28ca4d0fd47e15a5e8e835d649a683eb274dbdaa4a82d7a0ee66423b4ef59fc6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Bhn%2Bez4pDQ%2FW7vc%2F5tlwVJg%3D%3D' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Artificial Intelligence Foundations : Neural Networks', link: 'https://www.linkedin.com/learning/certificates/050e996b0f9306a387e9b6881be7faffa4490f25566f7db5df1a8e4f9e5d02ea?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Bhn%2Bez4pDQ%2FW7vc%2F5tlwVJg%3D%3D' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Artificial Intelligence Foundations : Thinking Machine', link: 'https://www.linkedin.com/learning/certificates/08a1b8af51b87b9077e18077c73f80beb42ae102387bc232f0e9362175cd30dd?u=26140778' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Artificial Intelligence Foundations : Thinking Machine', link: 'https://www.linkedin.com/learning/certificates/08a1b8af51b87b9077e18077c73f80beb42ae102387bc232f0e9362175cd30dd?u=26140778' },
  { src: '/assets/about/certification-icons/sololearn_inc__logo.jpg', name: 'Introduction to Java', link: 'https://www.sololearn.com/en/certificates/CC-9KIFCOSU' },
  { src: '/assets/about/certification-icons/sololearn_inc__logo.jpg', name: 'Introduction to C#', link: 'https://www.sololearn.com/certificates/CC-7OKPWGDQ' },
  { src: '/assets/about/certification-icons/sololearn_inc__logo.jpg', name: 'Introduction to JavaScript', link: 'https://api2.sololearn.com/v2/certificates/CC-QPPVFZYX/image/jpg' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Learning Cloud Computing : Core Concepts', link: 'https://www.linkedin.com/learning/certificates/01a7e993dba10616c60fdb5a76a738fc0cd860a744b455055fb172b031aea066?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BTYchmzsWT4KpZpkZscUZFg%3D%3D' },
  { src: '/assets/about/certification-icons/linkedin_logo.jpg', name: 'Strategic Thinking', link: 'https://www.linkedin.com/learning/certificates/71b1465157a3f443e5e42d0c0f13dfca6b1dc3842a597ad0f422f810260e967e?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BTYchmzsWT4KpZpkZscUZFg%3D%3D' },
];


---

<BaseLayout title="About | DV" description="Tech Stack and Certifications of Darren Victoria">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Tech Stack & Certifications"
				tagline="Here you can delve into all my skills and certifications that I've obtained"
			>
				
			</Hero>
					


			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="grid grid-cols-1 md:grid-cols-5 gap-3">
						{cards.map((card) => (
						  <div class="w-full">
							<div class="relative w-full h-32 bg-[#07182E] rounded-2xl overflow-hidden flex items-center justify-center">
							  <div class="absolute inset-1 bg-[#07182E] rounded-xl"></div>
							  <div class="relative z-10 flex flex-col items-center">
								<img src={card.src} alt={card.name} class="w-8 h-8 mb-2" />
								<h2 class="text-white text-2xl">{card.name}</h2>
							  </div>
							  <div class="absolute w-36 h-56 bg-gradient-to-b from-[#2846c2] via-[#210a64] to-[#2846c2] dark:from-[#18103b] dark:via-[#081930] dark:to-[#530353] hover:animate-spin-normal blur-lg rounded-full"></div>
							</div>
						  </div>
						))}
					  </div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
				  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
					{certificationCards.map((card) => (
					  <a href={card.link} class="w-full" target="_blank" rel="noopener noreferrer">
						<div class="relative w-full h-32 bg-[#07182E] rounded-2xl overflow-hidden flex items-center justify-center p-4">
						  <div class="absolute inset-1 bg-[#07182E] rounded-lg"></div>
						  <div class="relative z-10 flex flex-col items-center">
							<img src={card.src} alt={card.name} class="w-6 h-6 mb-2" />
							<h3 class="text-white text-base text-center">{card.name}</h3>
						  </div>
						  <div class="absolute w-72 h-72 bg-gradient-to-b from-[#2f7492] via-[#25bdd8] to-[#2f7492] dark:from-[#3661bd] dark:via-[#07182e] dark:to-[#2a5e5b] hover:animate-spin-normal blur-lg rounded-full"></div>
						</div>
					  </a>
					))}
				  </div>
				</div>
			  </section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	
</style>
